<div class="container my-4" style="max-width: 500px;">
  <div class="card shadow-sm">
    <div class="card-body text-center">

      <% if @venue.image.present? %>
        <img src="<%= url_for(@venue.image) %>" alt="Artist Photo" class="rounded-circle mb-3" style="width: 120px; height: 120px; object-fit: cover;">
      <% else %>
        <div class="rounded-circle bg-secondary mb-3 d-flex align-items-center justify-content-center" style="width: 120px; height: 120px; color: white;">
          <i class="fas fa-user fa-2x"></i>
        </div>
      <% end %>
      <h4 class="mb-3"><%= @venue.name %></h4>

      <% if @venue.full_address.present? %>
        <p class="mb-2">
          <%= @venue.full_address %>
        </p>
      <% end %>

      <% if @venue.website.present? %>
        <p>
          <%= link_to "Visit Website", @venue.website, target: "_blank", rel: "noopener", class: "btn btn-sm btn-outline-dark" %>
        </p>
      <% end %>

      <p class="text-muted mt-3">
        <strong>Category:</strong> <%= @venue.category %>
      </p>

      <% unless owner_signed_in? %>

        <turbo-frame id="follow_button_<%= @venue.id %>" >
          <%= render partial: "venues/follow_button", locals: { venue: @venue } %>
        </turbo-frame>

      <% end %>
    </div>
  </div>
  
  <div class="mt-4">
    <h5 class="text-center text-muted mb-3">Upcoming Events</h5>

    <% if @upcoming_events.any? %>
      <ul class="list-group">
        <% @upcoming_events.each do |event| %>
          <li class="list-group-item text-center">
            <strong><%= event.date.strftime("%A, %B %-d") %></strong><br>
            <small>
            <%= link_to event.artist.username, artist_path(event.artist) %> - <%= event.category %> <br>
              <%= event.start_time.strftime("%-I:%M %p") %>
            </small>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-muted text-center">No upcoming events.</p>
    <% end %>
  </div>

</div>
